@use "sass:map";
@import "style/pages/theme";

$bannerImg: "/assets/user/image/banner/banner3.jpg";

.header_top {
    background: #F4F5F7;
}

.header_top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 13px;

    ul{
        display: flex;
        column-gap: 8px;
        list-style: none;
        

        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text")
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;

            span {
                font-size: 14px;
                margin-left: 7px;
                vertical-align: text-top;
            }
        }

       
    }
}

.header_top_left {
    ul{
        display: flex;
        column-gap: 10px;
        list-style: none;
        align-items: center;
        padding: 10px 0 13px;

        li{
            font-size: 14px;
            display: flex;
            color: map.get($theme-colors, "normal-text");
            align-items: center;
            column-gap: 5px;
        }

        li:first-child{
            position: relative;
            &:after {
                position: absolute;
                right: -5px;
                top: 1px;
                height: 20px;
                width: 1px;
                background: #000000;
                opacity: 0.1;
                content: "";
            }
        }
    }
}

.header_logo{
    padding: 15px 0;
}

.header_menu{
    padding: 24px 0;

    ul{
        display: flex;
        justify-content: space-between;

        li{
            list-style: none; 
            position: relative;
            
            a{
                text-decoration: none;
                font-size: 14px;
                color: map.get($theme-colors, "bold-text");
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header_menu_dropdown {
            opacity: 1;
            visibility: visible;
        }

        .active a{
            color: map.get($theme-colors, "main");
        }

        .header_menu_dropdown{
            background: #222222;
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;

            li{
                a{
                    text-transform: capitalize;
                    color: #FFFFFF;
                    font-weight: 400;
                    padding: 5px 15px;
                }

                :hover{
                    color: map.get($theme-colors, "main");
                }
            }
        }
    }
}

.header_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul{
        display: flex;
        margin-right: 25px;

        li{
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg{
                font-size: 25px;
                color: map.get($theme-colors, "normal-text");
            }
            span{
                color: white;
                background: map.get($theme-colors, "main");
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                left: 20px;
                top: -5px;
            }
        }
    }
}
.hero_category {
    position: relative;

    .hero_category_all{
        background: map.get($theme-colors, "main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #FFFFFF;
        font-weight: 700;
    
        svg,span{
            font-size: 16px;
            margin-right: 5px;
        }
    
        svg{
            font-size: 30px;
            font-weight: bold;
        }
    }

    ul{
        border: 1px solid #ebebeb;
        position: absolute;
        opacity: 1;
        width: 100%;
        background: #FFFFFF;
        transition: all, 0.2s;

        li{
            list-style: none;

            a{
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color:  map.get($theme-colors, "normal-text");
                line-height: 39px;
                display: block;
                padding-left: 40px;
            }

            &:hover{
                background: #F7FFFF;

                a{
                    color: map.get($theme-colors, "main");
                }
            }
        }

        &.hidden{
            opacity: 0;
        }
    }

}

.hero_search_container{

    .hero_search_form{
        width: 610px;
        height: 50px;
        float: left;
        padding-left: 15px;
        margin-bottom: 30px;

        form{
            display: flex;
            align-items: center;
        }
    
    
        input{
            border: none;
            height: 48px;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
            border: 1px solid #ebebeb;
            width: 70%;
    
            :focus{
                outline: none;
                border: none;
            }
        }
    
        button{
            font-size: 14px;
            color: #FFFFFF;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;
            padding: 16px 30px 17px;
            background: map.get($theme-colors, "main");
            border: none;
            height: 100%;
        }
    }
    
    .hero_search_phone{
        display: flex;
        align-items: center;

        .hero_search_phone_icon{
            font-size: 25px;
            padding: 10px;
            background: #F5F5F5;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: map.get($theme-colors, "main");
        }

        .hero_search_phone_text{
            display: inline-block;

            a{
                color: map.get($theme-colors, "normal-text");
                font-weight: bold;
                margin-bottom: 5px;
            }
            span{
                color: #6F6F6F;
                font-size: 14px;
            }
        }
    }

    .hero_items{
        background-image: url($bannerImg);
        background-size: cover;
        height: 410px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 15px;

        .hero_text{
            padding-left: 75px;

            span{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                color: map.get($theme-colors, "main");
            }

            h2{
                font-size: 45px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 52px;
                color: map.get($theme-colors, "bold-text");
                margin: 10px 0;
            }

            p{
                font-size: 16px;
                color: #6f6f6f;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 15px 0;
            }

            a{
                display: inline-block;
                font-size: 14px;
                padding: 10px 28px 10px;
                color: #FFFFFF;
                text-transform: uppercase;
                font-weight: 700;
                background: map.get($theme-colors, "main");
                letter-spacing: 2px;
                text-decoration: none;
            }
        }
    }
}
